<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Example</title>
</head>
<body>

    <h1>luv2Code Company Home Page</h1>
    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <p sec:authorize="hasRole('MANAGER')">
        <a th:href="@{/leaders}">Link to Leaders Home Page</a>
    </p>
    <p sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/systems}">Link to Systems Home Page</a>
    </p>
    <p>Welcome to home page of luv2Code Company!</p>
    <hr>
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>