<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
    <style>
        .error {color:red}
    </style>
</head>
<body>
    Customer is confirmed: <span th:text="${customer.firstName + ' ' + customer.lastName}"/>
    <br><br>
    # of free passes: <span th:text="${customer.freePasses}"/>
    <br><br>
    Postal Code: <span th:text="${customer.postalCode}"/>
    <br><br>
    Course Code: <span th:text="${customer.courseCode}"/>
</body>
</html>